<div class="main-banner banner text-center">
  <!-- <div class="container">
    <h1>Chào mừng bạn   <span class="segment-heading">    đến với trang </span> mua sắm online ChoTotVL</h1>
    <p>Olala</p>
  </div> -->
</div>
