<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <!-- Bootstrap -->
  <link href="/Admin(js,css,img,font)/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/Admin(js,css,img,font)/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/Admin(js,css,img,font)/css/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/Admin(js,css,img,font)/css/green.css" rel="stylesheet">
  <!-- Datatables -->
  <link href="/Admin(js,css,img,font)/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/scroller.bootstrap.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/switchery.min.css" rel="stylesheet">
  <link href="/Admin(js,css,img,font)/css/chart.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/Admin(js,css,img,font)/css/custom.min.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="/Admin(js,css,img,font)/js/jquery.min.js"></script>

</head>
